.search-bar {
    @include flexer($align: center);
    @include widther(440px);
    position: relative; /*relative to label icon*/
    border-radius: 5px;
  
    @include element("icon") {
      @include svg-filler(var(--Input));
      @include positioner(absolute, $left: 1.5rem);
    }
  }
  
  label{
    @include invisible-heading;
  }
  #search-bar__input {
    border: none;
    border-radius: inherit;
    box-shadow: var(--ElementShadow);
    font-weight: 500;
    padding: 1rem;
    width: 100%;
    text-indent: 3rem;
  
    &:focus {
      outline: none;
    }
  }