.country-card {
    @include widther(280px);
    &:visited,
    & {
      color: unset;
    }
    display: grid;
    grid-template-rows: 150px 1fr;
    border-radius: 10px;
    box-shadow: var(--ElementShadow);
    transition: scale 225ms ease-out;
    & span {
      font-weight: 800;
    }
  
    &:hover {
      scale: 1.1;
      .country-card__flag-img {
        scale: 1.01;
        rotate: 3deg;
      }
    }
  
    @include element("details") {
      padding: 25px;
      padding-bottom: 35px;
      overflow-wrap: break-word;
    }
  
    @include element("flag-container") {
      @include size(100%, 100%);
      overflow: hidden;
      border-top: {
        left-radius: 10px;
        right-radius: 10px;
      }
      img {
        width: inherit;
        height: inherit;
  
        transition: scale 225ms ease-out, rotate 225ms ease-out;
      }
    }
  
    @include element("name") {
      font: {
        weight: 800;
        size: 1.5rem;
      }
      line-clamp: 1;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }