@use "./vendors/vendor-dir" as *;
@use "./src/assets/scss/base/_base-dir.scss" as *;
$themes: (
  darkTheme: (
    "--ElementBG": #2b3945,
    "--MainBG": #202c37,
    "--TextColor": #ffffff,
    "--InputColor": #fff,
    "--ElementShadow": (
      0px 2px 15px -3px rgba(0, 0, 0, 0.192),
    ),
  ),
  lightTheme: (
    "--ElementBG": #ffffff,
    "--MainBG": #fafafa,
    "--TextColor": #111517,
    "--InputColor": #616161,
    "--ElementShadow": (
      0px 2px 15px -3px rgba(116, 115, 115, 0.233),
    ),
  ),
);

body {
  font: {
    family: "Nunito Sans", sans-serif;
    weight: 600;
    size: 16px;
  }
  scroll-behavior: smooth;
}

.container {
  width: min(1440px, 90%);
  margin-inline: auto;
}

main {
  @include colorize(var(--MainBG), var(--TextColor));
  &.light {
    @include themeGenerator($themes, "lightTheme");
  }

  &.dark {
    @include themeGenerator($themes, "darkTheme");
  }
  
padding-bottom: 50px;

}

.search-bar,
.drop-down__toggle,
.toggle-icon,
.header,
#search-bar__input,
.search-bar__icon {
  @include colorize(var(--ElementBG), inherit);
}