.country-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(240px,100%), 1fr));
    gap: clamp(20px,10vw,50px);
    gap: 50px;
    justify-items: center;
  }
  @media (max-width: 340px) {
    .country-card__details {
      word-break: break-all;
    }
  }